/* Import font : Kanit */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*, html {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img { width: 100%; }
h1,h2,h3,h4,h5,h6 { margin: 0; color: #000; }
a { color: #000; text-decoration: none; }
a:hover { color: initial; }
input { border: none; outline: none; padding: 0; }
p { margin: 0; }

/* _________________________________________________________ */
/* ___________________ Shape Divider ___________________*/
.position-relative {
    position: relative;
}

.custom-shape-divider {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-172641 { bottom: 0; }
.custom-shape-divider-bottom-172641 .shape-fill { fill: var(--theme-02-100); }

.custom-shape-divider-bottom-1726418068 { bottom: 0; }
.custom-shape-divider-bottom-1726418068 .shape-fill { fill: #FFFFFF; }

.custom-shape-divider-bottom-1726419088 { bottom: 0; }
.custom-shape-divider-bottom-1726419088 .shape-fill { fill: #FFFFFF; }

.custom-shape-divider-bottom-1726419618 { bottom: 0; transform: rotate(180deg); }
.custom-shape-divider-bottom-1726419618 .shape-fill { fill: var(--theme-02-100); }

.custom-shape-divider-top-1726420067 { top: 0; }
.custom-shape-divider-top-1726420067 .shape-fill { fill: #FFFFFF; }

.custom-shape-divider-bottom-1726420261 { bottom: 0; }
.custom-shape-divider-bottom-1726420261 .shape-fill { fill: var(--theme-02-100); }

:root {
    --theme-01: #219C90;
    --theme-02: #ffae00;
    --theme-02-600: #e28400;
    --theme-02-400: #ffcf1b;
    --theme-02-300: #ffe146;
    --theme-02-200: #fff085;
    --theme-02-100: #fff3d3;
    --theme-03: #FFC700;
    --theme-04: #EE4E4E;
    --theme-04-800: #981c1c;
    --theme-04-700: #b71e1e;
    --theme-04-400: #f77272;
    --theme-04-300: #fba6a6;

    --theme-bg: #fff6d6;



    --c-dark: #000;
    --c-white: #fff;
    
    --text-desc: #666;

    --box-shadow: rgba(36, 35, 39, 0.15) 0px 20px 38px 0px;

}


/* -------------------------------------------------- */
/* ========== Frequently used Class ========== */
.ar-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
}

.ar-btn {
    display: inline-block;
    padding: .5rem 1.5rem;
    border-radius: 50px;
    color: var(--c-white);
    background: linear-gradient(145deg, rgba(247,159,112,1) 0%, rgba(252,70,96,1) 100%);
    transition: all .25s ease;
}
.ar-btn:hover {
    color: #fff;
    background: linear-gradient(45deg, rgba(247,159,112,1) 0%, rgba(252,70,96,1) 100%);
}

.ar-btn-02 {
    display: inline-block;
    padding: .5rem 1.5rem;
    border-radius: 50px;
    color: var(--theme-02);
    border: 1px solid var(--theme-02);
    transition: all .25s ease;
}
.ar-btn-02:hover {
    color: var(--c-white);
    background-color: var(--theme-02);
}

.ar-topic span {
    font-size: .8rem;
    font-weight: 500;
    color: var(--theme-02) !important;
    text-transform: uppercase;
}
.ar-topic h1 {
    font-size: 2.8rem;
    font-weight: 800;
}
.ar-topic p {
    padding-top: 1rem;
    color: var(--text-desc);
    line-height: 1.6rem;
}

/* Shape Liquid */
.ar-liquid-svg { filter: drop-shadow(30px 10px 0px var(--theme-02)); }


/* -------------------------------------------------- */
/* ========== Nav ========== */
.ar-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07);
}

.ar-nav-con {
    width: 100%;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


.ar-nav-logo {
    display: flex;
    align-items: center;
}

.ar-nav-logo img {
    width: 40px;
}
.ar-nav-logo h1 {
    width: max-content;
    font-size: 1.7rem;
    margin-left: .5rem;
    color: var(--c-dark);
}

.ar-nav-menu {
    display: flex;
    align-items: center;
}

.ar-nav-menu a {
    width: max-content;
    font-size: .9rem;
    padding: 0 1rem;
}

.ar-nav-contact {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.ar-nav-contact p { font-size: .8rem !important; }

.ar-nav-location {
    width: 200px;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.ar-nav-tel p span { display: block; text-align: center; }

.ar-nav-cart a i,
.ar-nav-cart a svg {
    font-size: .8rem;
    padding: .7rem;
    margin-left: .5rem;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}

.ar-shape img {
    width: 100%;
    mix-blend-mode: screen;
}

.ar-shape-01 { background: url(../images/liquid-shape/shape-01.png) center / contain no-repeat; }
.ar-shape-02 { background: url(../images/liquid-shape/shape-02.png) center / contain no-repeat; }
.ar-shape-03 { background: url(../images/liquid-shape/shape-03.png) center / contain no-repeat; }
.ar-shape-04 { background: url(../images/liquid-shape/shape-04.png) center / contain no-repeat; }
.ar-shape-05 { background: url(../images/liquid-shape/shape-05.png) center / contain no-repeat; }
.ar-shape-06 { background: url(../images/liquid-shape/shape-06.png) center / contain no-repeat; }



/* -------------------------------------------------- */
/* ========== Header ========== */
.ar-header {
    width: 100%;
    padding-top: 10rem;
    /* background: rgb(255,244,3); */
    /* background: linear-gradient(4deg, rgb(156, 157, 243) 0%, rgb(167, 224, 238) 35%, rgb(66, 92, 235) 100%); */
}

.ar-hd-info h1 {
    font-size: 2.6rem;
    font-weight: 800;
}
.ar-hd-info h1 span { color: var(--theme-03); }


.ar-hd-contact-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: .6rem;
    padding: 4rem;
    background-color: #fff;
    border-radius: 22px;
    box-shadow: var(--box-shadow);

    i, svg { font-size: 34px; color: var(--theme-02); }
    h1 {
        display: block;
        margin-top: 1rem;
        font-size: 1rem;
        text-align: center;
    }

    p {
        font-size: .8rem;
        color: var(--text-desc);
        text-align: center;
    }
}



/* -------------------------------------------------- */
/* ========== MAIN ========== */

/* ===================== */
/* ------------ Sec01 | About ------------ */
.ar-sec01 {
    padding-top: 6rem;
}

/* ===================== */
/* ------------ Sec02 | About Us ------------ */
.ar-sec02-info {
    padding: 10rem 0 4rem 0;
    background-color: var(--theme-02-100);
}

.ar-sec02-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .2rem;
    padding: 3rem;
    background-color: #fff;
    border-radius: 22px;
    box-shadow: var(--box-shadow);
}

.ar-sec02-items img {
    width: 40%;
}

.ar-sec02-items h1 {
    font-size: 1.4rem;
    font-weight: 600;
    padding: .6rem 0;
    text-align: center;
}

.ar-sec02-items p {
    font-size: .9rem;
    font-weight: 300;
    color: var(--text-desc);
    text-align: center;
}

.ar-sec02-rate-items {
    padding: 2rem 0;
    margin: 2rem 0;
    border-bottom: 1px solid var(--theme-02);
}

.ar-sec02-rate-con {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 2.6rem;
    }

    p {
        font-size: .9rem;
        font-weight: 400;
    }
}


/* ===================== */
/* ------------ Sec03 | Meet Our Team ------------ */
.ar-sec03 {
    width: 100%;
    padding: 4rem 4rem 10rem 4rem;
}

.ar-sec03-con {
    position: relative;

    img {
        height: 350px;
        object-fit: cover;
        object-position: top;
        box-shadow: var(--box-shadow);
        border-radius: 50px;
    }
}

.ar-sec03-info {
    position: absolute;
    bottom: -30px;
    left: -50%;
    transform: translate(60%, 0);
    width: 90%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: var(--box-shadow);

    p {
        font-size: .7rem;
        color: var(--text-desc);
    }
}



/* ===================== */
/* ------------ Sec04 | Online Shop ------------ */
.ar-sec04 {
    padding: 3rem;
    background-color: var(--theme-02-100);

}   
.ar-sec04-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: var(--box-shadow);

    .ar-sec04-img {
        height: 300px;
        overflow: hidden;
        margin: 0 2rem;
        border-radius: 2px;

        img {
            object-fit: cover;
        }
    }

    h1 {
        font-size: 1.5rem;
        padding-top: 2rem;
    }

    .ar-sec04-rating {
        padding: .3rem 0;

        a { color: var(--theme-03); }
    }
        
    .ar-sec04-price { font-weight: 600; }
}


/* ===================== */
/* ------------ Sec05 | Type Cookie ------------ */
.ar-sec05 { padding: 6rem 0 10rem 0; }
.ar-sec05-con {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    /* position: relative; */
    border-radius: 50px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    overflow: hidden;

    .ar-sec05-img {
        width: 40%;
        /* overflow: hidden; */
        /* object-fit: cover; */
        /* position: absolute;
        top: -50%;
        left: 0; */
        /* max-width: 250px; */

        img {
            width: 100%;
            /* width: auto; */
            object-fit:cover;
        }
    }
}

.ar-sec05-info {
    width: 60%;
    padding: 2rem;
    
    h1 {
        font-size: 1.6rem;
    }
    p { 
        padding: 1rem 0;
        color: var(--text-desc);
    }
    a { 
        display: block;
        text-align: end;
        margin-top: 1.5rem;
        padding-bottom: .2rem;
        color: var(--theme-04);
        text-decoration: underline var(--theme-04);
        transition: .25s ease;
    }
    a:hover {
        color: var(--theme-02);
        text-decoration: underline var(--theme-02);  
    }
}

/* ===================== */
/* ------------ Sec06 | Our Blog ------------ */
.ar-sec06 {
    padding-bottom: 10rem;
    background-color: var(--theme-02-100);
}

.ar-sec06-items {
    margin-top: 2rem;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    overflow: hidden;
}

.ar-sec06-items-img img {
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.ar-sec06-info {
    padding: 1rem;

    h1 { font-size: 1.4rem; font-weight: 600; margin-bottom: .5rem; }
    p { font-size: .9rem; }
    .ar-sec06-type { padding-top: .6rem; }
}

.ar-sec06-type > div { padding-top: .5rem;}
.ar-sec06-type i,
.ar-sec06-type svg { color: var(--theme-03); padding-right: .3rem; }



/* ===================== */
/* ------------ Sec07 | Our Happy Customer ------------ */
.ar-sec07 { padding: 3rem 0; }

.ar-slick-sec07 { margin-top: 3rem; }

.ar-sec07-items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 18px;
}

.ar-sec07-info h1 { font-weight: 400; }
.ar-sec07-info > p {
    font-size: 1rem;
    color: var(--theme-03);
}

.ar-sec07-img {
    padding: 2rem;
}
.ar-sec07-img img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    color: #ffae00;
}

.ar-sec07-message {
    margin-top: 1.2rem;
    padding: 1rem;
    border-radius: 12px;
    background-color: var(--theme-02-100);

    p {
        font-weight: 300;
        font-size: .9rem;
    }
}

/* __________ Slick custom */
.ar-slick-sec07 .slick-arrow {
    z-index: 997;
}

.ar-slick-sec07 .slick-list {
    padding: 4rem 0;
}
.ar-slick-sec07 .slick-arrow i,
.ar-slick-sec07 .slick-arrow svg {
    font-size: 35px;
    color: #000;
}
.ar-slick-sec07 .slick-arrow::before { display: none;}
.ar-slick-sec07 .slick-prev:before, .slick-next:before {color: #000 !important;}


/* -------------------------------------------------- */
/* ========== FOOTER ========== */
.ar-footer {
    padding-top: 3rem;
    background-color: var(--theme-02-100);
}

.ar-ft-list {
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    color: var(--text-desc);

    li {
        font-size: 1.2rem;
        font-weight: 500;
        color: #000;
        padding: 1.2rem 0 .6rem 0;
    }

    a {
        color: var(--text-desc);
        padding: .2rem 0;
        transition: .25s ease;
    }
    a:hover { color: #000; }

    form input {
        padding: .6rem 1.5rem;
        margin-bottom: .5rem;
        background-color: #fff;
        border-radius: 50px;
    }
    form input[type="submit"] {
        margin-left: -60px;
        color: #fff;
        background-color: var(--theme-04);
    }
}

.ar-ft-list li::marker {
    font-size: 20px;
    color: var(--theme-02-300); 
}

.ar-ft-social {
    display: flex;
    align-items: center;
    gap: .5rem;

    a i,
    a svg {
        font-size: 20px;
        padding: .6rem;
        border-radius: 50%;
        color: #fff;
        background-color: var(--theme-02-400);
        transition: .25s ease;
    }

    a:hover i,
    a:hover svg { background-color: var(--theme-02-600); }
}

.ar-ft-copyright {
    margin-top: 1.2rem;
    padding: 1.2rem 0;
    font-size: .9rem;
    color: var(--text-desc);
    border-top: 1px solid #aaa;
}